/* star styling */
*{
    margin:0px;
    padding:0px;
}
/* font-style*/
 body{
    font-family: 'Lato', sans-serif;
    font-family: 'Manrope', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
 }

/*common style*/

/*style for header section*/
#header{
    background-image:url("../images/banner/banner1.png");
    background-repeat:no-repeat;
    padding:250px 100px;
    padding-bottom:450px;
}

.header-content-area{
    width:500px;
    height:auto;
    display:block;
    float:right;
}
.banner-title{
    text-align:right;
    font-size:60px;
    font-weight:700;
    color:#151414;
}
.banner-text{
    text-align:right;
    font-size:16px;
    color:#444343;
    line-height:26px;
}
/*design header button*/
.btn-primary{
    float:right;
    margin-top:50px;
    color:#ffffff;
    background:#F24822;
    border:none;
    border-radius:5px;
    font-size:20px;
    font-weight:600;
    padding:15px 20px;
}
/*End header style*/

/*style for failure section*/
#failure-section{
    display:flex;
    align-items:center;
    margin:100px 80px;
    
}
.failure-section-text{
   margin-left:60px;  
}
.failure-title{
    color:#151414;
    font-size:40px;
    font-weight:700;
    margin-bottom:24px;
}
.failure-text{
    color:#444343;
    font-size:16px;
    font-weight:400;
    line-height:26px;
    margin-bottom:16px;
}
.failure-list{
    list-style-type:none;
}
.failure-list a{
    text-decoration:none;
    display:inline-block;
    padding:5px 10px;
    font-size:16px;
    color:#444343;
    font-weight:400;
}
/* design for favicon*/
.fa-check{
    color:#16D887;
}
/*End failure section area*/